.btn {
    padding: .45rem 1.5rem .35rem;
  }
  
  .gradient-custom {
    /* fallback for old browsers */
    background: #c471f5;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(255,107,181), rgba(255,107,181), rgba(196, 113, 245, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(255,107,181), rgba(255,107,181), rgb(241, 113, 245))
  }

body{
    height: 100vh;
    width: 98.88vw;

    background-image: url('./images/fondo.svg');
    background-repeat:repeat;
    background-size: cover; /* Opcional: ajusta el tamaño de la imagen para cubrir todo el fondo */
}



.flex-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-container{
    display: flex;
    justify-content: center;
}

.pais-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nombre-pais-container{
    width: 100px;
}

.pais-icono{
    margin-left: 10px;
    border-radius: 400px;
}

.card{
    min-width: 400px !important;
    margin-top: 20px;

    background-color: rgba(212, 212, 212, 0.97) !important;
}

.card-container{
    background-image: url('./images/fondo.svg');
    background-repeat:repeat;
    background-size: cover; /* Opcional: ajusta el tamaño de la imagen para cubrir todo el fondo */
}


@media (max-width: 400px) {
    /* Estilos que se aplicarán cuando el ancho de la pantalla sea 400px o menos */


    .card{
        min-width: 340px !important;

    }
}
